
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans text-[#37352F] bg-white antialiased;
  }
}

/* Custom Scrollbar for a cleaner look */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #E9E9E7;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #D3D1CB;
}
